<!-- <div style="margin-top: 1rem; margin-left: 1rem">
  <p style="color: #c62828"><b>Opens tomorrow</b></p>
</div>

<div class="info-panel red lighten-5">
  <p style="color: #c62828">Restaurant is closed!</p>
</div> -->

<div class="container" *ngIf="menus$ | async as menus; else loading">
  <div class="row">
    <div class="col s12 m6 l4" *ngFor="let menu of menus">
      <app-menu-card [menu]="menu"></app-menu-card>
    </div>
  </div>
</div>

<ng-template #loading>
  <div
    class="loading-container"
    style="
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    "
  >
    <p>Loading...</p>
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
