<div class="container">
  <mat-card class="card-size">
    <mat-card-header>
      <span>Category</span>
    </mat-card-header>

    <mat-card-content>
      <div class="icon-container">
        <mat-icon
          aria-hidden="false"
          aria-label="Category"
          fontIcon="category"
          class="icon-display"
        ></mat-icon>
      </div>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-button routerLink="/category/list">View</button>
      <button mat-button routerLink="/category/edit/0">Add</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card-size">
    <mat-card-header>
      <span>Product</span>
    </mat-card-header>

    <mat-card-content>
      <div class="icon-container">
        <mat-icon
          aria-hidden="false"
          aria-label="Product"
          fontIcon="inventory"
          class="icon-display"
        ></mat-icon>
      </div>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-button routerLink="/product/list">View</button>
      <button mat-button routerLink="/product/edit/0">Add</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card-size">
    <mat-card-header>
      <span>Order</span>
    </mat-card-header>

    <mat-card-content>
      <div class="icon-container">
        <mat-icon
          aria-hidden="false"
          aria-label="Order"
          fontIcon="description"
          class="icon-display"
        ></mat-icon>
      </div>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-button>Manage</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card-size">
    <mat-card-header>
      <span>Menu</span>
    </mat-card-header>

    <mat-card-content>
      <div class="icon-container">
        <mat-icon
          aria-hidden="false"
          aria-label="Menu"
          fontIcon="restaurant_menu"
          class="icon-display"
        ></mat-icon>
      </div>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-button routerLink="/menu/list">View</button>
      <button mat-button routerLink="/menu/edit/0">Add</button>
    </mat-card-actions>
  </mat-card>
</div>
