.table__container {
    max-height: 400px; 
    overflow-y: auto; 
}

.btn__action{
    margin: 4px;
    cursor: pointer;
}

.table-header-size{
    font-size: 16px;
}

.table-data-size{
    font-size: 16px;
}